<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--<add key="ServiceUrl" value="http://localhost:9002/SimpleServiceIsTriggeredByQuartz" />-->
    <add key="ServiceUrl" value="net.tcp://127.0.0.1:4523/SimpleServiceIsTriggeredByQuartz" />
    <!--<add key="SoapAddress"   value="net.tcp://127.0.0.1:9002/SimpleServiceIsTriggeredByQuartz" />-->
    <add key="ExtensionFolder"   value="" />
    
    <add key="AssemblyPath" value="" />
  </appSettings>
</configuration>